@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "Google Sans";
    src: url("../fonts/GoogleSans-Medium.eot");
    src: local("Google Sans Medium"), local("GoogleSans-Medium"), url("../fonts/GoogleSans-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GoogleSans-Medium.woff2") format("woff2"), url("../fonts/GoogleSans-Medium.woff") format("woff"),
        url("../fonts/GoogleSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans";
    src: url("../fonts/GoogleSans-Regular.eot");
    src: local("Google Sans Regular"), local("GoogleSans-Regular"), url("../fonts/GoogleSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GoogleSans-Regular.woff2") format("woff2"), url("../fonts/GoogleSans-Regular.woff") format("woff"),
        url("../fonts/GoogleSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

header {
    background-image: url("../img/Decore.svg");
    background-repeat: no-repeat;
    background-position: top -150px left 0;
    background-size: cover;
    padding-top: 47px;
    padding-bottom: 117px;
}

header > .container {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}

.nav_list,
.nav_set {
    list-style: none;
    display: flex;
}

.nav_list {
    gap: 60px;
}

.nav_set {
    margin-left: 26px;
}

.nav_btn {
    margin-left: 52px;
    margin-right: 42px;
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 9px 21px 9px 22px !important;
    cursor: pointer;
}

.nav_list li a {
    text-decoration: none;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #212832;
}

.nav_set > li {
    padding: 9px 0;
}

.nav_lang {
    position: relative;
    margin-right: 15.5px;
}

.nav_lang:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4.5px;
    background: url("../img/arrow.svg") no-repeat center / cover;
    top: 50%;
    right: -6.5px;
    transform: translateY(-50%) translateX(100%);
}

.nav_list > li {
    padding: 9px 0;
}

.dropdown {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    background-color: #333;
    border-radius: 10%;
    padding: 5px 12px;
    opacity: 0;
    gap: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.nav_lang:hover .dropdown {
    opacity: 1 !important;
}

.dropdown li a {
    color: #fff;
}

.main {
    margin-top: 130px;
    margin-left: 148px;
}

.main_up {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #df6951;
}

.main_title {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181e4b;

    margin-top: 24px;
    margin-bottom: 30px;
    max-width: 545px;
}

.main_title span {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181e4b;
    position: relative;
}

.main_title span::after {
    content: "";
    position: absolute;
    width: 385px;
    height: 12px;
    background: url("../img/line.svg") no-repeat center / cover;
    bottom: 18px;
    left: -31px;
    z-index: -1;
}

.main_descr {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5e6282;

    max-width: 477px;
    margin-bottom: 34px;
}

.main_btns {
    display: flex;
    gap: 44px;
}

.main_find {
    background: #f1a501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: none;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    padding: 18px 26px;
    cursor: pointer;
}

.main_demo {
    display: flex;
    align-items: center;
    gap: 21px;
}

.main_play {
    width: 52px;
    height: 52px;
    background-color: #df6951;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    border: none;
    border-radius: 50%;
    background-image: url("../img/play.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.play-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #686d77;
}

.header_img {
    position: absolute;
    top: 58px;
    right: 93px;
}

.services {
    margin-top: 105px;
}

.services > .container {
    position: relative;
}

.services > .container::after {
    content: "";
    position: absolute;
    width: 153px;
    height: 166px;
    background: url("../img/plus.svg") no-repeat center / cover;
    top: 0;
    right: 58px;
}

.up-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5e6282;
}

.title-text {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183e;
}

.services_wrapper {
    margin: 68px 197px 33px 154px;
    display: flex;
    justify-content: space-between;
}

.services_img {
    height: 86px;
}

.services_item {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
}

.services_item:nth-child(2) {
    padding: 0 43px 45px;
    position: relative;
    border-radius: 36px;
    background: #ffffff;
    max-width: 267px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.services_item:nth-child(2)::after {
    content: "";
    transition: all 0.3s ease;
    position: absolute;
    background: #df6951;
    border-radius: 30px 0px 10px;
    width: 100px;
    height: 100px;
    bottom: -35px;
    left: -33px;
    z-index: -1;
}

.services_name {
    margin-top: 29px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #1e1d4c;
}

.services_descr {
    margin-top: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5e6282;
    position: relative;
}

.top {
    margin-top: 156px;
    margin-bottom: 186px;
}

.top_wrapper {
    margin: 60px 227px 0 173px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.top_item {
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
        drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
        drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 24px;
    position: relative;
}

.top_item:last-child::after {
    content: "";
    position: absolute;
    bottom: 47px;
    right: -62px;
    width: 96px;
    height: 252px;
    z-index: -1;
    background: url("../img/Decore2.svg") no-repeat center / cover;
}

.tob_bot {
    background: #ffffff;
    border-radius: 0px 0px 24px 24px;
    margin-top: -130px;
    position: relative;
    z-index: 1;
    padding: 27px 25px 42px 20px;
}

.top_info {
    display: flex;
    justify-content: space-between;
}

.info-city,
.info-price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5e6282;
}

.top_descr {
    margin-top: 19px;
    display: flex;
    gap: 14px;
}

.top_descr p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    color: #5e6282;
}
